@import url("https://fonts.googleapis.com/css?family=Oswald:700");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; }

@keyframes aura {
  0% {
    transform: rotate(20deg); }
  20% {
    transform: translateY(100px) rotate(1deg); }
  40% {
    transform: rotate(-15deg); }
  60% {
    transform: rotate(-1deg); }
  80% {
    transform: translateY(-10px) rotate(16deg); }
  100% {
    transform: rotate(1deg); } }

@keyframes northern {
  0% {
    transform: translate(5%, -2%); }
  25% {
    transform: translate(10%, 7%); }
  40% {
    transform: rotate(-10deg); }
  60% {
    transform: translate(7%, -2%); }
  85% {
    transform: translate(6%, 3%) rotate(12deg); }
  100% {
    transform: none; } }

.auroral-agrabah {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: aura;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(-20deg, rgba(26, 0, 192, 0.4) 40%, rgba(215, 0, 67, 0.4)), linear-gradient(60deg, #1a00c0 10%, #d70043); }

.auroral-northern {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: northern;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(10deg, #a1d9b4 20%, #32988a 40%, #000e3c 70%); }

.auroral-northern-intense {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: aura;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(10deg, #b7a841 20%, #a1006a 40%, #371d40 60%); }

.auroral-northern-dimmed {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: northern;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(-45deg, rgba(237, 124, 148, 0.3) 20%, rgba(35, 82, 154, 0.3) 70%), linear-gradient(10deg, #916b63 7%, #b8ba6f 20%, #ed7c94 40%, #23529a 60%); }

.auroral-northern-dusk {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: northern;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(-35deg, rgba(145, 107, 99, 0.5) 15%, rgba(184, 186, 111, 0.5) 25%, transparent 60%), linear-gradient(10deg, #916b63 9%, #b8ba6f 30%, #ed7c94 45%, #23529a 65%); }

.auroral-northern-warm {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: aura;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(5deg, transparent 70%, #da7712 95%), linear-gradient(160deg, #432c24 30%, #d96d7d 62%, #da7712 95%); }

.auroral-stars {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: white;
  box-shadow: 82vw 13vh 0 1px rgba(255, 255, 255, 0.7), 3vw 41vh 0 2px rgba(255, 255, 255, 0.7), 47vw 27vh 0 1px rgba(255, 255, 255, 0.7), 85vw 49vh 0 2px rgba(255, 255, 255, 0.7), 35vw 1vh 0 2px rgba(255, 255, 255, 0.7), 38vw 6vh 0 2px rgba(255, 255, 255, 0.7), 93vw 5vh 0 1px rgba(255, 255, 255, 0.7), 27vw 26vh 0 1px rgba(255, 255, 255, 0.7), 98vw 4vh 0 2px rgba(255, 255, 255, 0.7), 80vw 39vh 0 1px rgba(255, 255, 255, 0.7), 18vw 42vh 0 1px rgba(255, 255, 255, 0.7), 89vw 45vh 0 2px rgba(255, 255, 255, 0.7), 32vw 22vh 0 1px rgba(255, 255, 255, 0.7), 11vw 44vh 0 1px rgba(255, 255, 255, 0.7), 36vw 8vh 0 2px rgba(255, 255, 255, 0.7), 71vw 13vh 0 2px rgba(255, 255, 255, 0.7), 89vw 10vh 0 1px rgba(255, 255, 255, 0.7), 66vw 26vh 0 2px rgba(255, 255, 255, 0.7), 40vw 26vh 0 2px rgba(255, 255, 255, 0.7), 85vw 27vh 0 2px rgba(255, 255, 255, 0.7), 100vw 16vh 0 1px rgba(255, 255, 255, 0.7), 14vw 16vh 0 1px rgba(255, 255, 255, 0.7), 63vw 48vh 0 1px rgba(255, 255, 255, 0.7), 6vw 41vh 0 1px rgba(255, 255, 255, 0.7), 2vw 40vh 0 1px rgba(255, 255, 255, 0.7), 13vw 29vh 0 1px rgba(255, 255, 255, 0.7), 40vw 49vh 0 2px rgba(255, 255, 255, 0.7), 4vw 44vh 0 1px rgba(255, 255, 255, 0.7), 10vw 11vh 0 2px rgba(255, 255, 255, 0.7), 86vw 37vh 0 2px rgba(255, 255, 255, 0.7), 56vw 46vh 0 1px rgba(255, 255, 255, 0.7), 4vw 3vh 0 2px rgba(255, 255, 255, 0.7), 62vw 31vh 0 2px rgba(255, 255, 255, 0.7), 19vw 13vh 0 1px rgba(255, 255, 255, 0.7), 62vw 19vh 0 1px rgba(255, 255, 255, 0.7), 57vw 1vh 0 1px rgba(255, 255, 255, 0.7), 94vw 26vh 0 1px rgba(255, 255, 255, 0.7), 80vw 50vh 0 1px rgba(255, 255, 255, 0.7), 91vw 6vh 0 1px rgba(255, 255, 255, 0.7), 92vw 45vh 0 1px rgba(255, 255, 255, 0.7), 91vw 48vh 0 1px rgba(255, 255, 255, 0.7), 85vw 20vh 0 2px rgba(255, 255, 255, 0.7), 2vw 28vh 0 1px rgba(255, 255, 255, 0.7), 3vw 19vh 0 1px rgba(255, 255, 255, 0.7), 32vw 18vh 0 1px rgba(255, 255, 255, 0.7), 9vw 6vh 0 1px rgba(255, 255, 255, 0.7), 98vw 19vh 0 2px rgba(255, 255, 255, 0.7), 41vw 18vh 0 1px rgba(255, 255, 255, 0.7), 31vw 38vh 0 2px rgba(255, 255, 255, 0.7), 37vw 22vh 0 1px rgba(255, 255, 255, 0.7), 39vw 23vh 0 1px rgba(255, 255, 255, 0.7), 96vw 7vh 0 2px rgba(255, 255, 255, 0.7), 50vw 4vh 0 1px rgba(255, 255, 255, 0.7), 95vw 48vh 0 2px rgba(255, 255, 255, 0.7), 7vw 6vh 0 2px rgba(255, 255, 255, 0.7), 94vw 36vh 0 1px rgba(255, 255, 255, 0.7), 52vw 40vh 0 1px rgba(255, 255, 255, 0.7), 40vw 15vh 0 1px rgba(255, 255, 255, 0.7), 60vw 38vh 0 2px rgba(255, 255, 255, 0.7), 30vw 44vh 0 1px rgba(255, 255, 255, 0.7), 3vw 38vh 0 1px rgba(255, 255, 255, 0.7), 69vw 45vh 0 2px rgba(255, 255, 255, 0.7), 61vw 45vh 0 2px rgba(255, 255, 255, 0.7), 52vw 31vh 0 2px rgba(255, 255, 255, 0.7), 52vw 2vh 0 1px rgba(255, 255, 255, 0.7), 70vw 14vh 0 1px rgba(255, 255, 255, 0.7), 94vw 2vh 0 1px rgba(255, 255, 255, 0.7), 65vw 26vh 0 2px rgba(255, 255, 255, 0.7), 73vw 34vh 0 1px rgba(255, 255, 255, 0.7), 76vw 23vh 0 2px rgba(255, 255, 255, 0.7), 86vw 13vh 0 2px rgba(255, 255, 255, 0.7), 58vw 32vh 0 1px rgba(255, 255, 255, 0.7), 91vw 30vh 0 1px rgba(255, 255, 255, 0.7), 13vw 5vh 0 1px rgba(255, 255, 255, 0.7), 70vw 46vh 0 1px rgba(255, 255, 255, 0.7), 83vw 30vh 0 2px rgba(255, 255, 255, 0.7), 63vw 32vh 0 1px rgba(255, 255, 255, 0.7), 25vw 8vh 0 2px rgba(255, 255, 255, 0.7), 50vw 46vh 0 2px rgba(255, 255, 255, 0.7), 68vw 15vh 0 1px rgba(255, 255, 255, 0.7), 68vw 24vh 0 2px rgba(255, 255, 255, 0.7), 54vw 10vh 0 1px rgba(255, 255, 255, 0.7), 46vw 46vh 0 1px rgba(255, 255, 255, 0.7), 47vw 9vh 0 2px rgba(255, 255, 255, 0.7), 14vw 15vh 0 1px rgba(255, 255, 255, 0.7), 99vw 14vh 0 1px rgba(255, 255, 255, 0.7), 74vw 28vh 0 1px rgba(255, 255, 255, 0.7), 58vw 22vh 0 1px rgba(255, 255, 255, 0.7), 71vw 29vh 0 1px rgba(255, 255, 255, 0.7), 35vw 42vh 0 2px rgba(255, 255, 255, 0.7), 89vw 42vh 0 1px rgba(255, 255, 255, 0.7), 2vw 15vh 0 1px rgba(255, 255, 255, 0.7), 20vw 35vh 0 2px rgba(255, 255, 255, 0.7), 80vw 48vh 0 1px rgba(255, 255, 255, 0.7), 84vw 45vh 0 1px rgba(255, 255, 255, 0.7), 89vw 34vh 0 2px rgba(255, 255, 255, 0.7), 24vw 40vh 0 1px rgba(255, 255, 255, 0.7), 78vw 25vh 0 1px rgba(255, 255, 255, 0.7), 59vw 42vh 0 2px rgba(255, 255, 255, 0.7), 18vw 45vh 0 1px rgba(255, 255, 255, 0.7), 69vw 5vh 0 0 rgba(255, 255, 255, 0.9); }

/* color and position of everthing */
body {
  font-family: 'Oswald';
  background-color: #232323;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  display: block;
  overflow: hidden; }

.iammenasco {
  width: 87%;
  margin: auto;
  margin-top: 5vw; }

.iam {
  position: relative;
  left: 3vw;
  font-size: 10.3vw;
  line-height: 15.4vw;
  float: left;
  -webkit-transform: rotate(-90deg); }

.i {
  opacity: 0;
  color: #30ECDF; }

.am {
  opacity: 0;
  color: #5A8F90; }

.menasco {
  opacity: 0;
  color: #2FE6DD;
  font-size: 17vw;
  line-height: 15vw; }

button {
  opacity: 0;
  overflow: hidden;
  color: #5A8F90;
  border: .2vw solid #5A8F90;
  background-color: transparent;
  cursor: pointer;
  line-height: 5vw;
  padding: 0 2vw;
  margin-top: 1vw;
  border-radius: 1vw;
  font-size: 3vw;
  outline: none;
  transition: transform .125s; }

button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px); }

/* animation */
.i-animate {
  -webkit-animation: kapow .1s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 1.2s;
  animation: kapow .1s forwards;
  animation-iteration-count: 1;
  animation-delay: 1.2s; }

.am-animate {
  -webkit-animation: kapow .1s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 1.5s;
  animation: kapow .1s forwards;
  animation-iteration-count: 1;
  animation-delay: 1.5s; }

.menasco-animate {
  -webkit-animation: kapow .1s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 2.1s;
  animation: kapow .1s forwards;
  animation-iteration-count: 1;
  animation-delay: 2.1s; }

.rerun-animate {
  -webkit-animation: kapow .5s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 3s;
  animation: kapow .5s forwards;
  animation-iteration-count: 1;
  animation-delay: 3s; }

@-webkit-keyframes kapow {
  100% {
    opacity: 1; } }

/*# sourceMappingURL=index.map */